{% extends "base.html" %}
{% block content %}
  <div class="page_content"><h1>My Completed Adventures</h1>
    <form action="completed-list" method="post">
      <section>

        {% for entry in entries %}
              <table>
          <tr><td><input type="checkbox" value="{{entry.key.urlsafe()}}" name="key"></td>
          <td>Completed on {{entry.db_date.strftime('%B %d, %Y')}}</td>
          </tr>
          <tr><td></td><td>{{entry.db_entry}}</td><p></p></tr>
          {% endfor %}
      </table>
      </section>
      <p>
        <input class="buttons" name="delete" value="Delete" type="submit"></p>
      </form>
  </div>
{% endblock %}
