{% extends "base.html" %}
{% block content %}
  <div class="page_content"><h1>Look at What I've Accomplished</h1>
      <table>
        {% for entry in entries %}
          <dt>Completed on: {{entry.db_date.strftime('%B %d, %Y')}}<dt>
          <dt>{{entry.db_entry}}</dt><br/>
          {% endfor %}
      </table>
      <!-- Print -->
      <a href="javascript:;" onclick="window.print()">
          <img src="https://simplesharebuttons.com/images/somacro/print.png" alt="Print" />
      </a>
  </div>
{% endblock %}
