{% extends "base.html" %}


{% block content %}

<div class="page_content">
  <div id="print_try">
    <h1>My Bucket List</h1>
    <form action="current-list" method="post">
      <section>
        {% for entry in entries %}
        <p>
            <input type="checkbox" value="{{entry.key.urlsafe()}}" name="key">
            {{entry.db_entry}}
        </p>
        {% endfor %}
      <section>
      <input class="buttons" name="delete" value="Delete" type="submit">
      <input class="buttons" name="move" value="Completed!" type="submit">
    </form>
    <!-- Print -->
    <br/>
    <br/>
    <br/>
    <a href="javascript:;" onclick="window.print()">
        <img src="https://simplesharebuttons.com/images/somacro/print.png" alt="Print" />
  </div>
</div>

{% endblock %}
