{% extends "base.html" %}
{% block content %}

<div class="page_content" id="home">
  <h1>Begin Your Journey Today!</h1>
  <p>If you could do anything you wanted, with no financial strings attached, what would you do? Would you travel across the globe and hop from one continent to the next? Would you invest in a beach house or a ski home or a high-end apartment in a city of your choice? Would you indulge yourself with the meal of a lifetime, or instead, would you choose to eat a simple home-cooked meal with those closest to you? </p>
  <p><b>Conquer Tomorrow</b> allows users to create their own bucket lists and check off their adventures as they are completed. Not sure what to put on your list? Visit <a href="/discover">Discover</a> to read some of our suggestions and learn the theory behind bucket lists.</p>
  <p>Please log in or sign up to start documenting your journey!</p>

</div>
{% endblock %}
