{% extends "base.html" %}
{% block content %}
  <div class="page_content">
    <iframe id="friends" src="//giphy.com/embed/mzTKsByk8Xl6g?html5=true" width="480" height="211" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <br> <h2>Whoohoo! Exciting adventure added!</h2>
    <div class="thanksbuttons"><a href="/new-adventure">
    <center><a href="/new-adventure">
      <button class="buttons" type="button">Add Another Adventure</button>
    </a>
    <a href="/current-list">
      <button class="buttons" type="button">See my Current List</button>
    </a></center>
  </div>
  </div>
{% endblock %}
